{% extends 'base.html.twig' %}

{% block title %}Retiro en efectivo{% endblock %}

{% block content %}
    <div class="py-3 mx-auto text-center">
        <h1 class="display-5">Retiro en efetivo</h1>
    </div>

    <div class="p-3 mb-2 bg-primary text-white">
        <strong>Máximo monto:</strong>
        ${{ maxAmount|number_format(2) }}
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.amount) }}

        <div class="row mb-5 justify-content-between">
            <div class="col-md-4">
                <button type="submit" class="btn btn-lg btn-block btn-success">Continuar</button>
            </div>

            <div class="col-md-4">
                <a href="{{ path('homepage') }}" class="btn btn-lg btn-block btn-warning">Cancelar</a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
