<!doctype html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Cash Machine</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <span class="navbar-text">Bienvenido: {{ app.user.client }}</span>
        </nav>
    </div>

    <div class="container pt-5">
        {{ include('default/_flash_messages.html.twig') }}

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

<script src="{{ asset('vendor/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('vendor/popper.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
